In [1]:
%load_ext autoreload
%autoreload 2
from table.game import Game
import pandas as pd
import matplotlib.pyplo

In [2]:
n_game = 100
n_pair =8
n_player = 3
rule = "H17"
betting = "flat"
black_jack_pay = 3/2
shoe_pct = 0.3
log = False

In [3]:
game = Game(n_pair=n_pair,
             n_player=n_player,
             rule=rule,
             betting=betting,
             black_jack_pay=black_jack_pay,
             shoe_pct=shoe_pct,
             log=log)

In [4]:
dic = {"n": [], "money": []}
for i in range(1,10001):
    game.run()
    if i % 100 == 0:
        dic["n"].append(i)
        dic["money"].append(game.key_player.money)

In [5]:
df = pd.DataFrame(dic)

In [6]:
df

        n   money
0     100    26.0
1     200    61.0
2     300    98.0
3     400   134.0
4     500   171.5
..    ...     ...
95   9600  3480.5
96   9700  3517.0
97   9800  3552.5
98   9900  3588.0
99  10000  3626.0

[100 rows x 2 columns]

In [7]:
df.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.